<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Hide & Seek</title>
        <meta name="title" content="Hide & Seek">
        <meta name="description" content="기아자동차X카카오맵이 함께하는 전국민 K5신차 찾기 이벤트">
        <meta name="keywords" content="K5, 기아자동차, 카카오맵, 신차">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="Hide & Seek">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="기아자동차X카카오맵이 함께하는 전국민 K5신차 찾기 이벤트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Hide & Seek">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="기아자동차X카카오맵이 함께하는 전국민 K5신차 찾기 이벤트">
    
        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="../../content/styles/reset.css">
        <link rel="stylesheet" href="../../content/styles/templete.css">
        <link rel="stylesheet" href="../../content/styles/style.css">
        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/modal.js"></script>
        <!--[if lte IE 8]>
        <script src="../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <section>
            <div class="grid">
                <div class="nickbox">
                    <div class="grid-padd"><span class="txt">카카오닉네임님 반갑습니다.</span></div>
                </div>
                <div class="page-titbox cpnbox-titbox">
                    <div class="grid-padd">
                        <h2 class="tit">내 K쿠폰함</h2>
                        <span class="date">10월 15일</span>
                        <p class="txt">오늘 <span class="fnt-ylw">9</span>개의 K쿠폰을 얻었습니다.</p>
                    </div>
                </div>
                <div class="cpnbox-menu">
                    <div class="grid-padd">
                        <a href="쿠폰캘린더.html" title="쿠폰 캘린더 페이지로 이동" class="btn"><span class="label">K쿠폰 캘린더</span><img src="../../content/images/sub/coupon-menu-arw.png" alt="메뉴 화살표 이미지" class="arw"></a>
                        <a href="쿠폰모아보기.html" title="쿠폰 모아보기 페이지로 이동" class="btn"><span class="label">K쿠폰번호 모아보기</span><img src="../../content/images/sub/coupon-menu-arw.png" alt="메뉴 화살표 이미지" class="arw"></a>
                    </div>
                </div>
                <div class="cpnbox-list">
                    <div class="grid-padd">
                        <ul>
                            <li class="show-modal">
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-01.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>드라이브 모드 연동<br>무드램프</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-02.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>12.3인치 클러스터</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-03.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>홈 IoT (카투홈)</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-04.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>Shark Skin 그릴</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li class="off">
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-05.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>19인치 휠</strong><span>확인 완료</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-06.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>NFC 디지털키(스마트폰)</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-07.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>공기청청 시스템<br>(미세먼지 센싱)</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li class="off">
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-08.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>원격 스마트 주차보조</strong><span>확인 완료</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-09.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>원터치 ASCC &amp;<br>고속도로 주행보조</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-10.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>후측방 모니터</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li class="off">
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-11.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>다이얼 타입 SBW</strong><span>확인 완료</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-12.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>패스트백 디자인</strong><span>K쿠폰을 확인하세요!</span>
                                    </div>
                                </div>
                            </li>
                            <li class="off">
                                <div class="ico"><img src="../../content/images/sub/coupon-ico-13.png" alt="쿠폰 아이콘"></div>
                                <div class="txt-box">
                                    <div class="txt">
                                        <strong>동급 최대 전장/ 휠베이스</strong><span>확인 완료</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="scltop-btn"><img src="../../content/images/sub/scrolltop-arw.png" alt="페이지 위로 이동 화살표"></span>
            </div>
        </section>
        <footer>
            <div class="grid">
                <img src="../../content/images/footer-ci-wht-01.png" alt="K5 X kakapmap Hide&Seek">
                <div class="copyright">
                    <img src="../../content/images/footer-copy-wht.png" alt="COPYRIGHT© KIA MOTORS CORP. ALL RIGHTS RESERVED. / 개인정보처리방침">
                    <a href="javascript:void(0);" title="개인정보처리방침 페이지로 이동" class="btn"></a>
                </div>
                <img src="../../content/images/footer-ci-wht-02.png" alt="KIA - The Power to Surprise">
            </div>
        </footer>
        <div class="fixed-btn-box">
            <a href="javascript:void(0);" title="K5 찾기 페이지로 이동" class="btn"><img src="../../content/images/main/fixed-btn-01.png" alt="K5 찾기"></a>
            <a href="index.html" title="이벤트 소개 페이지로 이동" class="btn"><img src="../../content/images/sub/fixed-btn-03.png" alt="이벤트 소개"></a>
        </div> <!-- //고정 버튼 박스 -->
        <div class="modal-popup">
            <div class="modal-wrap wng">
                <div class="modal-cont success">
                    <div class="top">
                        <div class="top-tit-box">
                            <h3 class="tit">축하합니다!</h2>
                            <p class="txt">일일 즉석 당첨 경품<br>스타벅스 아메리카노 Tall에<br>당첨되었습니다.</p>
                        </div>
                        <div class="top-img-box">
                            <img src="../../content/images/popup/winning-success-top-ico-01.png" alt="폭죽 아이콘" class="ico ico-1">
                            <img src="../../content/images/popup/winning-success-top-ico-02.png" alt="폭죽 아이콘" class="ico ico-2">
                            <img src="../../content/images/popup/winning-success-top.png" alt="스타벅스 아메리카노" class="gift">
                        </div>
                    </div>
                    <div class="btm">
                        <div class="txt-box">
                            <p class="txt">일일 즉석 당첨 경품 발송을 위해<br>본인의 개인 정보를 입력해 주세요.</p>
                        </div>
                        <div class="form-box">
                            <form>
                                <div class="input-field">
                                    <label>이름</label><input type="text">
                                </div>
                                <div class="input-field">
                                    <label>휴대전화</label><input type="text" placeholder="- 제외하고 입력" maxlength="11">
                                </div>
                                <div class="chk-field">
                                    <label><input type="checkbox"><span class="label">개인정보 수집 및 이용 동의</span><a href="javascript:void(0);" title="개인정보 수집 및 이용 동의 전문 보기">전문보기</a></label>
                                </div>
                                <div class="chk-field">
                                    <label><input type="checkbox"><span class="label">개인정보 위탁 동의</span><a href="javascript:void(0);" title="개인정보 위탁 동의 전문 보기">전문보기</a></label>
                                </div>
                            </form>
                        </div>
                        <div class="txt-box">
                            <p class="desc">※ 본인 명의의 핸드폰 번호를 입력해주세요.<br>※ 경품은 익일 오전 10시에 입력하신 휴대전화로 발송됩니다.<br>※ 오탈자로 인한 경품 수령 실패는 보상해 드리지 않습니다.</p>
                        </div>
                    </div>
                    <div class="btn-box submit">
                        <a href="javascript:void(0);" title="응모완료" class="btn close-modal">응모완료</a>
                    </div>
                </div>
                <div class="modal-cont success">
                    <div class="top">
                        <div class="top-tit-box">
                            <h3 class="tit">축하합니다!</h2>
                            <p class="txt">일일 즉석 당첨 경품<br>스타벅스 아메리카노 Tall에<br>당첨되었습니다.</p>
                        </div>
                        <div class="top-img-box">
                            <img src="../../content/images/popup/winning-success-top-ico-01.png" alt="폭죽 아이콘" class="ico ico-1">
                            <img src="../../content/images/popup/winning-success-top-ico-02.png" alt="폭죽 아이콘" class="ico ico-2">
                            <img src="../../content/images/popup/winning-success-top.png" alt="스타벅스 아메리카노" class="gift">
                        </div>
                    </div>
                    <div class="btm">
                        <div class="cpn-box">
                            <strong>K쿠폰 번호 : K2365RW349</strong>
                        </div>
                        <div class="txt-box">
                            <p class="txt"><span class="fnt-ppl">행운의 K쿠폰 발표 2019.11.17(일)</span><br>이벤트 홈페이지 내 팝업으로 당첨자 K쿠폰번호 게시</p>
                        </div>
                        <div class="gift-box">
                            <img src="../../content/images/popup/winning-gift.png" alt="경품 이미지">
                        </div>
                    </div>
                    <div class="btn-box">
                        <a href="javascript:void(0);" title="닫기" class="btn close-modal">닫기</a>
                    </div>
                </div>
                <div class="modal-cont fail">
                    <div class="top">
                        <div class="top-tit-box">
                            <h3 class="tit">다음기회에!</h2>
                            <p class="txt">일일 즉석 경품 획득에 실패했습니다.<br>그러나 행운의 K쿠폰으로 뽑는 빅 경품이 있으니<br>실망하지 마세요!</p>
                        </div>
                    </div>
                    <div class="btm">
                        <div class="cpn-box">
                            <strong>K쿠폰 번호 : K2365RW349</strong>
                        </div>
                        <div class="txt-box">
                            <p class="txt"><span class="fnt-ppl">행운의 K쿠폰 발표 2019.11.17(일)</span><br>이벤트 홈페이지 내 팝업으로 당첨자 K쿠폰번호 게시</p>
                        </div>
                        <div class="gift-box">
                            <img src="../../content/images/popup/winning-gift.png" alt="경품 이미지">
                        </div>
                    </div>
                    <div class="btn-box">
                        <a href="javascript:void(0);" title="닫기" class="btn close-modal">닫기</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('.scltop-btn').click(function(){
                    $('html, body').animate({
                        scrollTop : 0
                    }, 250);
                });
                $(window).scroll(function(){
                    var windowST = $(this).scrollTop();

                    $('.fixed-btn-box').addClass('active');
                    $('.scltop-btn').addClass('active');

                    if(windowST <= 0) {
                        $('.scltop-btn').removeClass('active');
                        $('.fixed-btn-box').removeClass('active');
                    }
                    if ($('.scltop-btn').offset().top + $(".scltop-btn").height() > $("footer").offset().top) {
                        $('.scltop-btn').removeClass('active');
                    }
                });
            });
        </script>
    </body>
</html>