<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Hide & Seek</title>
        <meta name="title" content="Hide & Seek">
        <meta name="description" content="기아자동차X카카오맵이 함께하는 전국민 K5신차 찾기 이벤트">
        <meta name="keywords" content="K5, 기아자동차, 카카오맵, 신차">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="Hide & Seek">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="기아자동차X카카오맵이 함께하는 전국민 K5신차 찾기 이벤트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Hide & Seek">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="기아자동차X카카오맵이 함께하는 전국민 K5신차 찾기 이벤트">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="../../content/styles/reset.css">
        <link rel="stylesheet" href="../../content/styles/templete.css">
        <link rel="stylesheet" href="../../content/styles/style.css">
        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/modal.js"></script>
        <!--[if lte IE 8]>
        <script src="../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <section>
            <div class="grid">
                <div class="nickbox">
                    <div class="grid-padd"><span class="txt">카카오닉네임님 반갑습니다.</span></div>
                </div>
                <div class="page-titbox">
                    <div class="grid-padd">
                        <h2 class="tit">K쿠폰번호 모아보기</h2>
                        <p class="txt">총 <span class="fnt-red">345</span>개의 K쿠폰 보유</p>
                    </div>
                </div>

                <div class="cpn-default">
                    <div class="grid-padd">
                        <p>현재 보유한 쿠폰이 없습니다.<br><span class="fnt-red">K5 찾기</span> 버튼을 눌러<br>이벤트에 응모해 보세요.</p>
                    </div>
                </div>

                <div class="fixed-btn-box">
                    <a href="javascript:void(0);" title="K5 찾기 페이지로 이동" class="btn"><img src="../../content/images/main/fixed-btn-01.png" alt="K5 찾기"></a>
                    <a href="index.html" title="이벤트 소개 페이지로 이동" class="btn"><img src="../../content/images/sub/fixed-btn-03.png" alt="이벤트 소개"></a>
                </div> <!-- //고정 버튼 박스 -->
                <span class="scltop-btn"><img src="../../content/images/sub/scrolltop-arw.png" alt="페이지 위로 이동 화살표"></span>
            </div>
        </section>
        <footer>
            <div class="grid">
                <img src="../../content/images/footer-ci-wht-01.png" alt="K5 X kakapmap Hide&Seek">
                <div class="copyright">
                    <img src="../../content/images/footer-copy-wht.png" alt="COPYRIGHT© KIA MOTORS CORP. ALL RIGHTS RESERVED. / 개인정보처리방침">
                    <a href="javascript:void(0);" title="개인정보처리방침 페이지로 이동" class="btn"></a>
                </div>
                <img src="../../content/images/footer-ci-wht-02.png" alt="KIA - The Power to Surprise">
            </div>
        </footer>
        <div class="fixed-btn-box">
            <a href="javascript:void(0);" title="K5 찾기 페이지로 이동" class="btn"><img src="../../content/images/main/fixed-btn-01.png" alt="K5 찾기"></a>
            <a href="index.html" title="이벤트 소개 페이지로 이동" class="btn"><img src="../../content/images/sub/fixed-btn-03.png" alt="이벤트 소개"></a>
        </div> <!-- //고정 버튼 박스 -->
        <script>
            $(document).ready(function(){
                $('.cpn-all th .btn').click(function(){
                    $(this).toggleClass('active');
                });
                $('.scltop-btn').click(function(){
                    $('html, body').animate({
                        scrollTop : 0
                    }, 250);
                });
                $(window).scroll(function(){
                    var windowST = $(this).scrollTop();

                    $('.fixed-btn-box').addClass('active');
                    $('.scltop-btn').addClass('active');

                    if(windowST <= 0) {
                        $('.scltop-btn').removeClass('active');
                        $('.fixed-btn-box').removeClass('active');
                    }
                    if ($('.scltop-btn').offset().top + $(".scltop-btn").height() > $("footer").offset().top) {
                        $('.scltop-btn').removeClass('active');
                    }
                });
            });
        </script>
    </body>
</html>
